@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: black;
    width: 100%;
    height: 100%;
    color: rgba(0, 255, 0, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: "Jersey 10", sans-serif;
}
.line{
    background-color: rgba(0, 255, 0, 1);
    width: 80%;
    height: 1.5px;
    margin: 20px;
}
.content{
    display: flex;
    gap: 60px;
}
.box{
    background-color: rgba(0, 255, 0, 1);
    color: rgb(18, 97, 0);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    text-align: justify;
    max-width: 250px;
    font-size: 18px;
    border-radius: 15px;
}
.box ul{
    text-indent: 10px;
    margin-left: 20px;
}
.box a{
    text-decoration: underline;
    color: black;
    font-size: 30px;
    text-align: center;
}

.websites a{
    font-size: 18px;
}
.contato{
    border-radius: 15px;
    border-color: rgba(0, 255, 0, 1);
    color: rgba(0, 255, 0, 1);
    border: 2px solid;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    gap: 15px;
    text-align: justify;
    max-width: 250px;
    text-align: center;
}
.contato form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contato label{
    font-size: 18px;
    text-align: left;
}
.contato form input{
    padding: 4px;
    outline: none;
    border: 2px solid rgba(0, 255, 0, 1);
    border-radius: 10px;
    background-color: black;
    color: rgba(0, 255, 0, 1);
    text-indent: 10px;
    font-family: "Jersey 10", sans-serif;
    font-size: 16px;
}
.contato form textarea{
    max-width: 90%;
    outline: none;
    border: 2px solid rgba(0, 255, 0, 1);
    border-radius: 10px;
    background-color: black;
    color: rgba(0, 255, 0, 1);
    text-indent: 10px;
    padding: 10px;
    font-family: "Jersey 10", sans-serif;
    font-size: 16px;
}
.contato form  input[type="submit"]{
    background-color: rgba(0, 255, 0, 1);
    color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.contato form  input[type="submit"]:hover{
    background-color: rgba(0, 200, 0, 1);
}
@media (max-width: 1200px) {
    .box{
        max-width: 200px;
    }
    .contato{
        max-width: 200px;
    }
}
@media (max-width: 900px) {
     .box{
        max-width: 300px;
    }
    .contato{
        max-width: 300px;
        min-width: 250px;
    }
    body{
        height: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 380px) {
    .content{
        margin: 30px;
    }
    .contato{
        max-width: 60%;
        min-width: 40%;
    }
}